/* CSS customisations and overrides */

h1 {
	text-transform: uppercase;
	text-align: center;
	font-size: 40px;
	margin-top: 10px;
}

h4 {
	margin: 3px;
}

.footer {
	margin-top: 20px;
	margin-bottom: 50px;
	text-align: center;
	font-size: 10px;
}

.footer a { color: #999; }
